
# Safety
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'

# Zsh
alias zshrc="vim ~/.zshrc"
alias zshreload="source ~/.zshrc"

# Servers
alias http-ruby="ruby -run -e httpd . -p 5000"
alias http-python="python -m SimpleHTTPServer 5000"
